main {
	background-color: #FA9A50;
	font-family: helvetica;
	font-size: 1em;
	color: DarkCyan;
	line-height: 100%;
	padding: 50px 10px;

}

#lizards {
	border-style: solid;
    border-width: 10px;
    border-radius: 30px;
	border-color: red;
	padding: 20px;
}

#tortoises {
	border-style: dotted;
    border-width: 5px;
    border-radius: 100px;
	border-color: blue;
	padding: 30px;
}

#mammals {
	border-style: double;
    border-width: 5px;
    border-radius: 150px;
	border-color: green;
	padding: 50px;
}

#birds {
	border-style: double;
    border-width: 40px;
    border-radius: 15px;
	border-color: purple;
	padding: 50px;
	box-shadow: 5px 10px 60px blue;
	
}

#marine {
	border-style: dotted;
    border-width: 40px;
    border-radius: 15px;
	border-color: black;
	padding: 60px;
	box-shadow: 10px 30px 60px magenta;
}